@charset "utf-8";
/* CSS Document */

/*General Website*/
header h1
{
	font-family: 'orbitron', Sans-Serif;
	z-index: 10;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 0;
	margin-bottom: 0px;
	background: #181818;
	background:-webkit-linear-gradient(left top, #0e0e0e, #484848); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #0e0e0e, #484848); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #0e0e0e, #484848); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #0e0e0e, #484848); /* Standard syntax */
}

.pageHead
{
	font-family: 'orbitron', Sans-Serif;
	font-weight: bolder;
	z-index: 10;
	margin-top: 0;
	margin-bottom: 0px;
	width: 100%;
	color: #181818;
	background: goldenrod;
	background: -webkit-linear-gradient(left top, gold, darkgoldenrod); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, gold, darkgoldenrod); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, gold, darkgoldenrod); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, gold, darkgoldenrod); /* Standard syntax */
}

nav
{
	position: fixed;
	float: left;
	margin: 0 0 0 0;
	width: 190px;
	height: 100%;
	background-color: #353535;
}

 nav ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    width: 190px;
    background-color: #353535;
    overflow: auto;
}

nav ul li a {
	font-size: 30px;
	font-family: 'righteous', Sans-Serif;
    display: block;
    color: #f1f1f1;
    padding: 28px 16px 8px;
    text-decoration: none;
}

nav ul li:not(.Active) {
    background-color: #353535;
    color: white;
}

nav ul li a:hover, li a:active, li .Active {
    background-color: #775300;
    color: Black;
}

nav ul li.Active
{
	background-color: #775300;
    color: Black;
}


header, header a:link, header a:visited
{
	color: goldenrod;
	text-decoration: none;
}

header a:active, header a:hover
{
	color: #1e1e1e;
	background-color: gold;
	opacity: .8;
	text-decoration:underline;
}

a:link, a:visited
{
	color: gold;
	text-decoration: none;
}

a:active, a:hover
{
	text-decoration: underline;
	color: goldenrod;
}

body 
{
	background: #2e2e2e;
}


main
{
	margin-left:200px;
	color: lightyellow;
}

article
{
	margin: 0 auto;
	background: #3e3e3e;
}

article h2
{
	padding: 10px;
}

article h3
{
	padding: 10px;
}

article p
{
	margin-left: 10px;
	padding-bottom: 10px;
}

footer
{
	float: left;
	margin: 0 auto;
	margin-left: 200px;
	padding: 1px 16px;
	color:coral;
	background: transparent;
	width: 84%;
	
}

/*Launch Page*/

button.accordion {
    background-color: #2E2E2E;
	font-weight:bolder;
    color: lightyellow;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #3e3e3e;
}

button.accordion:after {
    content: '⮝';
    font-size: 13px;
    color: lightyellow;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "⮟";
}

section.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

section.panel.show {
    opacity: 1;
    max-height: 500px;
	color: #9e9e9e; 
}

button.accordion2 {
    background-color: #0e0e0e;
	font-family:helvetica, arial, sans-serif;
	font-weight:bolder;
    color: gold;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion2.active, button.accordion2:hover {
    background-color: #2e2e2e;
}

button.accordion2:after {
    content: '⮝';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion2.active:after {
    content: "⮟";
}

div.panel2 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel2.show {
    opacity: 1;
    max-height: 500px;
	color: #0e0e0e; 
}

.homeBack
{
	margin-right: 2%;
}

.Hguide
{
	margin-top: 30px;
	background-color: #3e3e3e;
	padding-bottom: 5px;
}

.Hguide h2
{
	margin: 0;
	opacity: .7;
	background-color: #4e4e4e;
}
.Hguide h3
{
	margin: 0;
	opacity: .8;
	background-color: #2e2e2e;
}

/*About Page*/
.AboutA
{
	padding-top: 10px;
	margin: 20px 0 0 0;
	min-height: 650px;
	width: 100%
}

.Thing1, .Thing2
{
	padding-left: 10px;
}

.info {
	margin-top:0px;
	padding-left:0px;
    margin-right: 0;
}
	
.ResumeSide {
	font-size: 16px;
	background-color:#403005;
	width:20%;
	height: 100%;
	margin-left: 76%;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	float: inherit;
	}

.ResumeSide h1 {
	font-size: 25px;
}
		
.resume {
	float: left;
	font-size: 16px;
	background-color:#403005;
	width: 50%;
	position: fixed;
	margin: 20px 10px;
	}
		

/*Demo's Page*/
.ETab
{
	vertical-align: top;
	font-family: 'orbitron', Sans-Serif;
	margin-left: 10px;
	padding-left: 5px;
	margin-bottom: 10px;
	background-color:darkgoldenrod;
	opacity: .8;
	width: 200px;
	height: 250px;
	display: inline-block;
}

.ETab h2
{
	padding: 0;
}

.ETab p
{
	padding: 0;
	font-family: 'righteous', Sans-Serif;
	font-size: 20px;
	font-weight: bold;
}

.CTab
{
	font-family: 'orbitron', Sans-Serif;
	vertical-align: top;
	padding-left: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color:#5e5e5e;
	opacity: .8;
	width: 220px;
	height: 340px;
	display: inline-block;
}

.CTab h2
{
	padding: 0;
}

.CTab p
{
	font-family: 'righteous', Sans-Serif;
	font-size: 20px;
	font-weight: bold;
	padding: 0;
}

/*RecentPage*/
.art
{
	margin: 0 10%;
	Width:80%;
	height: 80%;
	padding-bottom: 10px;
}

/*Contact Page*/
.ConcactA
{
	padding: 10px 0;
}
.Contact
{
	font-family: 'orbitron', Sans-Serif;
	font-size: 30px;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 40px;
	padding: 5px 5px 5px 5px;
	width:300px;
	background-color: #775300;
	display: block;
	text-align: center;
}

.Contact:active, .Contact:hover
{
	background-color: gold;
}


/*Demo Description Pages*/

.SiteGenInfo 
{
	z-index: -20;
}

/*Mobile*/
@media screen and (max-width: 480px) {
nav{display: none;
	margin-left: 0px;
	}
	header{
		font-size: 10px;
	}
	main{
		margin-left: 0px;
	}
	article{
		width:98%;
	}
	.pageHead{
		font-size: 14px;
		margin-left: 0px;
	}
	footer{
		width: auto;
		margin-left: 0px;
	}
}