@charset "utf-8";
/* CSS Document */
.CIcon{
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
	transition: scale 2s;
}
.CIcon2{
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
	transition: scale 2s;
}

.CIcon:hover, .CIcon2:hover{
	    animation-name:bounce;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@-webkit-keyframes bounce{
	 10%{transform: translate(0)}
	20%{transform: translate(0px, 10px)}
	60%{transform: translate(0px,50px)}
	80%{transform: translate(0px,30px)}
	100%{transform: translate(0px, 0px)}
}

.CIcon:hover, .CIcon2:hover{
	transform: scale(1.25);
}

#Phone{
}

strong#PNumber{
	font-size: 25px;
}

#Phone:hover + strong#PNumber{
	visibility: visible;
}