/* CSS Animation - A love story */
/******* Setup *************************************/
/* the CSS to apply the "sayClick" keyframe animation to the header>p */
header>p {
	animation:sayClick 6s ease-in;
}

/* Setup Keyframes */ 
@keyframes sayClick{
	  0%{transform: translateX(650px); opacity:0;}
	 30%{transform: translateX(0); opacity:1;}
	 50%{opacity:.3; color:#a01515;}
	 70%{opacity:1;}
	 90%{opacity:.2;}
	100%{opacity:1;}
}


/******* Scene 1 *************************************/
/* write CSS to apply the "enterBunny" keyframe animation  to the #bunny in .scene_1 */
.scene_1 #bunny{
	animation-name:enterBunny;
    animation-duration: 2s;
    animation-delay:0;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in;
}
/* write CSS using the "zoomIn" keyframe animation on body.scene_1 */
body.scene_1 {
    animation-name:zoomIn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    
    transform-origin:75% 55%;
}
/* write CSS to apply the "ask" keyframe animation to #question in .scene_1 */
.scene_1 #question{
    animation-name: ask;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
/* write CSS to apply the "respond" keyframe animation to #reply in .scene_1 */
.scene_1 #reply{
	animation-name: respond;
    animation-duration: 4s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Scene 1 Keyframes */
@-webkit-keyframes enterBunny{
	 10%{transform: translate(0)}
	20%{transform: translate(-50px,-250px)}
	60%{transform: translate(-50px,-250px)}
	80%{transform: translate(-0px,-300px)}
	100%{transform: translate(-100px,-350px)}
}
@-webkit-keyframes zoomIn{
	 0%{}
	100%{transform: scale(1.5)}
}
@-webkit-keyframes ask{
	 0%{}
	100%{opacity: 1}
}
@-webkit-keyframes respond{
	 0%{}
	100%{opacity: 1}
}

/******* Scene 2 *************************************/
/* write CSS using the "responded" keyframe animation to make the #reply disappear in .scene_2 */
.scene_2 #reply{
	animation-name: responded;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
/* write CSS using the "zoomOut" keyframe animation on body.scene_2 */
body.scene_2{
	animation-name: zoomOut;
    animation-duration: 3s;
    animation-delay: 0s;
	transform-origin:100% 100%;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
	
	
}
/* write CSS using the "heartJoy" keyframe animation to make #heart grow huge in .scene_2 */
.scene_2 #heart{
	animation-name: heartJoy;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
/* write CSS using the "together" keyframe animation to move #bunny close to the valentine in .scene_2 */
.scene_2 #lovebunny{
	animation-name: together;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* work out the CSS and keyframe you need to get the sun to shine at the end */
.scene_2 #sunshine{
	animation-name: sunshine;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Scene 2 Keyframes */
@-webkit-keyframes responded{
	 0% {opacity: 1}
	100%{ opacity: 0}
}
@-webkit-keyframes zoomOut{
	from{transform: scale(1.5)}
	to{transform: scale(1)}
}
@-webkit-keyframes heartJoy{
	from{ transform: scale(1); opacity: 0}
	to{ transform: scale(2); opacity: 1}
}
@-webkit-keyframes together{
	to{transform: translate(50px,50px)}
}
@-webkit-keyframes sunshine{
	to{transform: translate(-650px, 0)}
}


/******* Scene 2 *************************************/
/* write CSS using the "responded" keyframe animation to make the #reply disappear in .scene_2 */
.scene_3 #reply{
	animation-name: responded;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
/* write CSS using the "zoomOut" keyframe animation on body.scene_2 */
body.scene_3{
	animation-name: zoomOut;
    animation-duration: 3s;
    animation-delay: 0s;
	transform-origin:100% 100%;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
	
	
}
/* write CSS using the "heartJoy" keyframe animation to make #heart grow huge in .scene_2 */
.scene_3 #heart{
	animation-name: heartSad;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
/* write CSS using the "together" keyframe animation to move #bunny close to the valentine in .scene_2 */
.scene_3 #lovebunny{
	animation-name: apart;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* work out the CSS and keyframe you need to get the sun to shine at the end */
.scene_3 #cloud{
	animation-name: clouds;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Scene 2 Keyframes */
@-webkit-keyframes responded{
	 0% {opacity: 1}
	100%{ opacity: 0}
}
@-webkit-keyframes zoomOut{
	from{transform: scale(1.5)}
	to{transform: scale(1)}
}
@-webkit-keyframes heartSad{
	from{ transform: scale(3); opacity: 1}
	to{ transform: scale(.5);  opacity: .2}
}
@-webkit-keyframes apart{
	to{transform: translate(-150px,-50px)}
}
@-webkit-keyframes clouds{
	to{transform: translate(650px, 0)}
}
